@model IEnumerable<BeerConsupion2.Models.Beer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NonAlcohol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NonAlcohol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BeerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BeerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BeerId })
        </td>
    </tr>
}

</table>
